---
- name: Create minio group
  ansible.builtin.group:
    name: "{{ minio_group }}"
    state: present

- name: Create minio user
  ansible.builtin.user:
    name: "{{ minio_user }}"
    group: "{{ minio_group }}"
    system: yes
    shell: /bin/false
    state: present

- name: Create minio data directory
  ansible.builtin.file:
    path: "{{ minio_data_dir }}"
    state: directory
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    mode: '0750'

- name: Create minio configuration directory
  ansible.builtin.file:
    path: "{{ minio_config_dir }}"
    state: directory
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    mode: '0750'

- name: Download MinIO binary
  ansible.builtin.get_url:
    url: "https://dl.min.io/server/minio/release/linux-amd64/archive/minio.{{ minio_version }}"
    dest: "{{ minio_server_bin }}"
    mode: '0755'
    owner: root
    group: root

- name: Install MinIO environment file
  ansible.builtin.template:
    src: minio.env.j2
    dest: "{{ minio_config_dir }}/minio.env"
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    mode: '0600'
  notify: restart minio

- name: Install MinIO systemd service
  ansible.builtin.template:
    src: minio.service.j2
    dest: /etc/systemd/system/minio.service
    owner: root
    group: root
    mode: '0644'
  notify: restart minio

- name: Start and enable MinIO service
  ansible.builtin.systemd:
    name: minio
    state: started
    enabled: yes
